*~
*.tgz
*.log
.DS_Store
node_modules
testServer
tmp
npm-debug.log
package-lock.json
.env
.tern-port
env-turing
env-vbox
env-turing2
env-win10
.log
.vscode
mate-vbox
env-vbox2
env-win
package.json-github
package.json-prod
validation/test-file2.txt
coverage
.nyc_output
debug.log
