*.tgz
.DS_Store
tmp
test
example
.env
.prettierrc
env-turing
env-turing2
env-vbox
env-vbox2
env-win10
env-win
env-mac
env-localhost
.eslintrc.js
.mocharc.js
.indium.json
.tern-port
test-env-template
tools
.vscode
.log
*~
mate-vbox
validation
debug.log
coverage
.nyc_output
.nycrc.json
.eslintrc.json
CHANGELOG.org
.dir-local.el
id_ed25519 
id_ed25519.pub

