*.tgz
.DS_Store
README.org
node_modules
tmp
test
example
.env
.prettierrc
env-turing
env-turing2
env-vbox
env-win10
.eslintrc.js
.mocharc.js
.indium.json
.tern-port
test-env-template
tools
.vscode
.log
*~

