*.tgz
.DS_Store
tmp
test
example
.env
.prettierrc
env-turing
env-turing2
env-vbox
env-vbox2
env-win10
env-win
.eslintrc.js
.mocharc.js
.indium.json
.tern-port
test-env-template
tools
.vscode
.log
*~
mate-vbox
validation
debug.log
coverage
.nyc_output
.nycrc.json
